@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    60% {
        transform: translate(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    60% {
        transform: translate(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveinbottom {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }

    60% {
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
